## ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) NLP II Lab - Starter Code

# SQL 

**Note:** The SQL parts can only be performed while on GA's WiFi.

If you have trouble with this part, refer to previous labs with SQL components.

In [62]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Connect to the SQL instance

In [63]:
%sql postgresql://dsi_student:yellowpencil@35.196.107.77/postgres

'Connected: dsi_student@postgres'

## Display all the tables available

In [64]:
%%sql
SELECT table_name FROM information_schema.tables
WHERE "table_type" = 'BASE TABLE' AND "table_schema" = 'public'

3 rows affected.

[('titanic',), ('default_data',), ('sf_crime',)]

## Display ten rows from the `sf_crime_table` table that contain the string `ARREST` in the resolution.

In [65]:
%%sql
SELECT * FROM sf_crime WHERE resolution ILIKE '%ARREST%' LIMIT 10;

10 rows affected.

[(0, datetime.datetime(2015, 5, 13, 23, 53), 'WARRANTS', 'WARRANT ARREST', 'Wednesday', 'NORTHERN', 'ARREST, BOOKED', 'OAK ST / LAGUNA ST', -122.4258917, 37.7745986),
 (1, datetime.datetime(2015, 5, 13, 23, 53), 'OTHER OFFENSES', 'TRAFFIC VIOLATION ARREST', 'Wednesday', 'NORTHERN', 'ARREST, BOOKED', 'OAK ST / LAGUNA ST', -122.4258917, 37.7745986),
 (2, datetime.datetime(2015, 5, 13, 23, 33), 'OTHER OFFENSES', 'TRAFFIC VIOLATION ARREST', 'Wednesday', 'NORTHERN', 'ARREST, BOOKED', 'VANNESS AV / GREENWICH ST', -122.424363, 37.80041432),
 (18, datetime.datetime(2015, 5, 13, 21, 40), 'OTHER OFFENSES', 'TRAFFIC VIOLATION', 'Wednesday', 'BAYVIEW', 'ARREST, BOOKED', 'MENDELL ST / HUDSON AV', -122.3864009, 37.73898349),
 (31, datetime.datetime(2015, 5, 13, 20, 50), 'NON-CRIMINAL', 'CIVIL SIDEWALKS, CITATION', 'Wednesday', 'MISSION', 'ARREST, BOOKED', '400 Block of CASTRO ST', -122.4351501, 37.76175972),
 (43, datetime.datetime(2015, 5, 13, 20, 6), 'OTHER OFFENSES', 'PROBATION VIOLATION', 'Wednesday', 'BAYVIEW', 'ARREST, BOOKED', '300 Block of WILLIAMS AV', -122.3994437, 37.73017602),
 (44, datetime.datetime(2015, 5, 13, 20, 6), 'OTHER OFFENSES', 'STAY AWAY ORDER VIOLATION, DV RELATED', 'Wednesday', 'BAYVIEW', 'ARREST, BOOKED', '300 Block of WILLIAMS AV', -122.3994437, 37.73017602),
 (45, datetime.datetime(2015, 5, 13, 20, 0), 'OTHER OFFENSES', 'DRIVERS LICENSE, SUSPENDED OR REVOKED', 'Wednesday', 'CENTRAL', 'ARREST, CITED', '800 Block of LEAVENWORTH ST', -122.415212, 37.78887145),
 (49, datetime.datetime(2015, 5, 13, 19, 52), 'BURGLARY', 'BURGLARY, VEHICLE (ARREST MADE)', 'Wednesday', 'PARK', 'ARREST, BOOKED', '1500 Block of HAIGHT ST', -122.4477611, 37.76984649),
 (79, datetime.datetime(2015, 5, 13, 18, 45), 'OTHER OFFENSES', 'DRIVERS LICENSE, SUSPENDED OR REVOKED', 'Wednesday', 'MISSION', 'ARREST, BOOKED', '17TH ST / TREAT AV', -122.4135917, 37.76382223)]

## Display ten rows from the `sf_crime_table` table that *do not* contain the string `ARREST` in the resolution.

In [66]:
%%sql
SELECT * FROM sf_crime WHERE resolution NOT ILIKE '%arrest%' LIMIT 10;

10 rows affected.

[(3, datetime.datetime(2015, 5, 13, 23, 30), 'LARCENY/THEFT', 'GRAND THEFT FROM LOCKED AUTO', 'Wednesday', 'NORTHERN', 'NONE', '1500 Block of LOMBARD ST', -122.4269953, 37.80087263),
 (4, datetime.datetime(2015, 5, 13, 23, 30), 'LARCENY/THEFT', 'GRAND THEFT FROM LOCKED AUTO', 'Wednesday', 'PARK', 'NONE', '100 Block of BRODERICK ST', -122.4387376, 37.77154117),
 (5, datetime.datetime(2015, 5, 13, 23, 30), 'LARCENY/THEFT', 'GRAND THEFT FROM UNLOCKED AUTO', 'Wednesday', 'INGLESIDE', 'NONE', '0 Block of TEDDY AV', -122.4032524, 37.7134307),
 (6, datetime.datetime(2015, 5, 13, 23, 30), 'VEHICLE THEFT', 'STOLEN AUTOMOBILE', 'Wednesday', 'INGLESIDE', 'NONE', 'AVALON AV / PERU AV', -122.423327, 37.72513804),
 (7, datetime.datetime(2015, 5, 13, 23, 30), 'VEHICLE THEFT', 'STOLEN AUTOMOBILE', 'Wednesday', 'BAYVIEW', 'NONE', 'KIRKWOOD AV / DONAHUE ST', -122.3712743, 37.72756407),
 (8, datetime.datetime(2015, 5, 13, 23, 0), 'LARCENY/THEFT', 'GRAND THEFT FROM LOCKED AUTO', 'Wednesday', 'RICHMOND', 'NONE', '600 Block of 47TH AV', -122.508194, 37.77660126),
 (9, datetime.datetime(2015, 5, 13, 23, 0), 'LARCENY/THEFT', 'GRAND THEFT FROM LOCKED AUTO', 'Wednesday', 'CENTRAL', 'NONE', 'JEFFERSON ST / LEAVENWORTH ST', -122.4190877, 37.80780155),
 (10, datetime.datetime(2015, 5, 13, 22, 58), 'LARCENY/THEFT', 'PETTY THEFT FROM LOCKED AUTO', 'Wednesday', 'CENTRAL', 'NONE', 'JEFFERSON ST / LEAVENWORTH ST', -122.4190877, 37.80780155),
 (11, datetime.datetime(2015, 5, 13, 22, 30), 'OTHER OFFENSES', 'MISCELLANEOUS INVESTIGATION', 'Wednesday', 'TARAVAL', 'NONE', '0 Block of ESCOLTA WY', -122.4879831, 37.73766665),
 (12, datetime.datetime(2015, 5, 13, 22, 30), 'VANDALISM', 'MALICIOUS MISCHIEF, VANDALISM OF VEHICLES', 'Wednesday', 'TENDERLOIN', 'NONE', 'TURK ST / JONES ST', -122.4124143, 37.7830038)]

# NLP 2-Lab

For this lab we'll be using movie comments to build a classifier that predicts positive or negative sentiment.

In [67]:
###Import the data
import pandas as pd
df = pd.read_table('./data.txt', sep="\t", names=['sentiment', 'comment'])

### Explore the data - any missing values? How much data do we have?

In [68]:
df.shape

(6119, 2)

In [69]:
df.head()

   sentiment                                            comment
0          1            The Da Vinci Code book is just awesome.
1          1  this was the first clive cussler i've ever rea...
2          1                   i liked the Da Vinci Code a lot.
3          1                   i liked the Da Vinci Code a lot.
4          1  I liked the Da Vinci Code but it ultimatly did...

In [70]:
df.sentiment.value_counts()

1    3943
0    2176
Name: sentiment, dtype: int64

In [71]:
df.isnull().sum()

sentiment    0
comment      0
dtype: int64

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6119 entries, 0 to 6118
Data columns (total 2 columns):
sentiment    6119 non-null int64
comment      6119 non-null object
dtypes: int64(1), object(1)
memory usage: 95.7+ KB

In [73]:
import re 
from nltk.corpus import stopwords
def cleaner(col):
    letters_only = re.sub("[^a-zA-Z!]", " ", col)
    lower = letters_only.lower().split() 
    not_stop = [word for word in lower if not word in stopwords.words('english')]
    return ' '.join(not_stop)

In [74]:
df['comment'] = df['comment'].apply(cleaner)

### Split your data into training and testing sets.

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
X_train, X_test, y_train, y_test = train_test_split(df['comment'], df['sentiment'], 
                                                    test_size=0.5, stratify=df['sentiment'])

### Use a either a count vectorizer or a TF-IDF vectorizer to extract features from the text. Make sure to adjust the parameters so you don't get more columns than you have observations.

In [77]:
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [79]:
tvec = TfidfVectorizer(stop_words='english', max_features=X_train.shape[0])
tvec.fit(X_train)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=3059, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [82]:
df_tvec = pd.DataFrame(tvec.transform(X_train).todense())

### Train a KNN classifier on your text data. Your $y$ should be the sentiment.

In [89]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

In [85]:
knn5 = KNeighborsClassifier(n_neighbors=5)
knn5.fit(df_tvec, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [86]:
knn5.score(df_tvec, y_train)

0.98463550179797321

### Evaluate your model performance with your held-out test data. Remember to transform it with your vectorizer to create the features. Do not refit your vectorizer with the test data.

In [87]:
df_tvec_test = pd.DataFrame(tvec.transform(X_test).todense())

In [88]:
preds = knn5.predict(df_tvec_test)

In [92]:
print(classification_report(y_test, preds))

             precision    recall  f1-score   support

          0       0.99      0.95      0.97      1088
          1       0.97      0.99      0.98      1972

avg / total       0.98      0.98      0.98      3060

In [101]:
predicted_probabilities = knn5.predict_proba(df_tvec)

In [116]:
predicted_probabilities[:, 1]
predicted_probabilities[0, 1]

0.0

### Use the predict_proba function (see KNN documentation) on your model to create a dataframe with the sentiment value, the comment, and two additional columns that indicate the probability of each comment belonging to one of the two classes.

In [120]:
df = pd.DataFrame()
df['Comment'] = X_train
df['Rating'] = y_train
df['Probability Positive'] = predicted_probabilities[:, 1]
df['Probability Negative'] = predicted_probabilities[:, 0]

In [121]:
df.head()

,Comment,Rating,Probability Positive,Probability Negative
3782,brokeback mountain beautiful,1,1.0,0.0
4703,da vinci code sucks,0,0.0,1.0
3895,like yeah got acne love brokeback mountain,1,1.0,0.0
4405,friday hung kelsie went saw da vinci code suck...,0,0.0,1.0
529,love luv lubb da vinci code!,1,1.0,0.0

### Select a few comments with probabilities close to 50/50. Do those comments look neutral?

In [122]:
df.loc[(df['Probability Negative'] > 0.3) & (df['Probability Negative'] < 0.7)]

,Comment,Rating,Probability Positive,Probability Negative
4942,mission impossible sucked hardcore,0,0.4,0.6
5000,saw mission impossible kinda stupid yet good,0,0.6,0.4
5271,answers dislike brokeback mountain,0,0.6,0.4
5001,sick making crappy mission impossible sequels,0,0.6,0.4
4996,watched mission impossible wif stupid haha,0,0.4,0.6
5277,days ago asian christian folk news talking bro...,0,0.4,0.6
5033,hogwarts hogwash georgia board education liste...,0,0.4,0.6
1020,mission impossible pretty awesome action flick,1,0.6,0.4
4001,absolutely adorable lie one favorite films da ...,0,0.6,0.4
1063,saw mission impossible awesome hate tom cruise...,1,0.6,0.4
2999,kinda like brokeback mountain though,1,0.6,0.4
4941,even thinking getting freshman cuz itz mission...,0,0.6,0.4
5131,kinda like things harry potter give kiss death...,0,0.6,0.4
5219,brokeback mountain movie two gay cowboys overc...,0,0.4,0.6
4957,mission impossible sucked,0,0.6,0.4
4027,aimee week really fun da vinci code sucked ass...,0,0.6,0.4
5009,boycott mission impossible tom cruise evil,0,0.4,0.6
109,da vinci code pretty awesome liked angels demons,1,0.6,0.4
5251,would give kudos blog go talk awful brokeback ...,0,0.6,0.4
1121,mean tom cruise eh love mission impossible movies,1,0.6,0.4
1073,mission impossible pretty awesome least thought,1,0.6,0.4
1180,loved mission impossible quip fact v made tom ...,1,0.6,0.4
5041,actually talked harry potter sucked writer imm...,0,0.4,0.6
5003,mission impossible three looks horrible,0,0.4,0.6
4994,mission impossible second terrible,0,0.4,0.6
4960,hate mission impossible movies,0,0.4,0.6
3946,thought da vinci code movie really boring,0,0.4,0.6
1143,awesome times school classes settin things fir...,1,0.4,0.6
5272,care anyone says brokeback mountain shitty movie,0,0.6,0.4
4966,rv really good mission impossible fucking sucked,0,0.6,0.4
1168,abrams knows reason go see film like mission i...,1,0.6,0.4
5015,since mission impossible piece crap,0,0.6,0.4
4954,mission impossible iii going suck balls!!!,0,0.6,0.4
5310,brokeback mountain best combonation best depre...,0,0.6,0.4
5207,brokeback mountain sucks anus thats fact,0,0.6,0.4
5106,loathe harry potter lord rings anything else n...,0,0.6,0.4
4950,god anyway anyone whos read far new mission im...,0,0.4,0.6
5311,brokeback mountain shitty movie,0,0.6,0.4
5036,georgia board education heard mother seeking b...,0,0.4,0.6
5093,harry potter suck like rest us turn geek addit...,0,0.6,0.4
5234,stupid brokeback mountain showing one night ti...,0,0.4,0.6
5022,blame mission impossible chunnel fears think w...,0,0.4,0.6
5208,brokeback mountain larry mcmurtry diana ossana...,0,0.6,0.4
4977,stayed whole way whole way back jill staying n...,0,0.6,0.4
3999,da vinci code sucked miss anything special,0,0.4,0.6
4958,well mission impossible sucked lot,0,0.6,0.4
5293,agree homophobes every right say horrible thin...,0,0.4,0.6
2069,love harry potter think j k rowling best autho...,1,0.6,0.4
2157,apparently want cast spells people like harry ...,1,0.6,0.4
5199,good night good luck close second freaking hat...,0,0.4,0.6
4940,hate playing mission impossible love,0,0.4,0.6
4088,quick update smoked week consumed meat week da...,0,0.4,0.6
26,really like da vinci code,1,0.4,0.6
176,da vinci code sooo awesome good luck ur tennis...,1,0.6,0.4
2112,also kick ass harry potter robe lends nicely h...,1,0.4,0.6
1132,loved first mission impossible second quite le...,1,0.6,0.4

In [ ]:
#some look neutral, others not so much