# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) 2.05 - A/B Testing Lab

---

**Use $\alpha = 0.05$ for any hypothesis tests!**

Exercise 1: Describe the difference between a one-sample $t$-test and a two-sample $t$-test.

Answer 1: One sample t-test compares a sample mean to a specific value or null hypothesis. Where as a two-sample t-test compares two sample means.

Exercise 2: Describe the difference between a two-sample $t$-test and a matched pairs $t$-test.

Answer 2: Matched pairs t-test examines overall differences between matched observations whereas two-sample t-test examines two sample means.

Exercise 3: Describe the difference between a two-sample $t$-test and an ANOVA test.

Answer 3: ANOVA is like a two sample t-test but can be used for more than two samples as well.

Exercise 4: In the `data` folder, we have a sample of Walmart stores data. Read in the `stores.csv` data. If I wanted to test whether the average size was different across types, what is the appropriate test? Why?

In [6]:
import pandas as pd
walmart = pd.read_csv('./data/stores.csv')
#You want to run an ANOVA because there are three sample groups.

    Store Type    Size
0       1    A  151315
1       2    A  202307
2       3    B   37392
3       4    A  205863
4       5    B   34875
5       6    A  202505
6       7    B   70713
7       8    A  155078
8       9    B  125833
9      10    B  126512
10     11    A  207499
11     12    B  112238
12     13    A  219622
13     14    A  200898
14     15    B  123737
15     16    B   57197
16     17    B   93188
17     18    B  120653
18     19    A  203819
19     20    A  203742
20     21    B  140167
21     22    B  119557
22     23    B  114533
23     24    A  203819
24     25    B  128107
25     26    A  152513
26     27    A  204184
27     28    A  206302
28     29    B   93638
29     30    C   42988
30     31    A  203750
31     32    A  203007
32     33    A   39690
33     34    A  158114
34     35    B  103681
35     36    A   39910
36     37    C   39910
37     38    C   39690
38     39    A  184109
39     40    A  155083
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

Exercise 5: Conduct the hypothesis test from Exercise 4. Be sure to state your hypotheses, find your p-value, and make the appropriate conclusion.

In [25]:
import scipy.stats as stats
c = walmart.loc[walmart.Type == 'C']['Size']
b = walmart.loc[walmart.Type == 'B']['Size']
a = walmart.loc[walmart.Type == 'A']['Size']
stats.f_oneway(a, b, c)

F_onewayResult(statistic=34.348221948830279, pvalue=1.4502004628034625e-09)

Ho: c = b = a    Ha: at least one is different
the p-value is significantly less than .01 which means we can reject the null hypothesis at the 99% confidence level- i.e. at least one type has a different size.

Exercise 6: Read in the `train.csv` data. Suppose I want to test whether average weekly sales differs among the types of stores. What is the appropriate test? Why?

In [75]:
trains = pd.read_csv('./data/train.csv')
#There are 3 types of stores, so you need to do ANOVA.

Exercise 7: Conduct the hypothesis test from Exercise 6. Be sure to state your hypotheses, find your p-value, and make the appropriate conclusion. (Hint: Think about how you need to munge your data here. It'll likely take a few steps!)

In [67]:
grouped_trains = trains.groupby('Store', as_index=False)['Weekly_Sales'].mean()
new_df = grouped_trains.merge(walmart, on='Store')
a = new_df.loc[new_df.Type == 'A']['Weekly_Sales']
b = new_df.loc[new_df.Type == 'B']['Weekly_Sales']
c = new_df.loc[new_df.Type == 'C']['Weekly_Sales']
stats.f_oneway(a, b, c)

F_onewayResult(statistic=11.915713586389714, pvalue=7.9640947998436956e-05)

Answer 7:

the p-value is considerably less than .01 therefore the null hypothesis (Ho a = b = c) can be rejected at the 99% level and the Ha (one is different) can be accepted.

Exercise 8: Suppose I want to test whether average weekly sales differs on holidays versus non-holidays. What is the appropriate test? Why?

There are going to be two different groups, so a two-sample t-test will suffice.

Exercise 9: Conduct the hypothesis test from Exercise 8. Be sure to state your hypotheses, find your p-value, and make the appropriate conclusion.

In [96]:
trains_holidays = trains[trains['IsHoliday'] == True]['Weekly_Sales']
trains_not = trains[trains['IsHoliday'] == False]['Weekly_Sales']
stats.ttest_ind(trains_holidays, trains_not)

Ttest_indResult(statistic=8.2947568539318937, pvalue=1.0912222677432844e-16)

In [ ]:
#The null hypothesis (ho: holiday sample mean = not holiday sample mean) can be rejected at the  99% 
# 99% level because p is considerably less than .01.

Exercise 10: Generate and interpret a 95% confidence interval for the true average weekly sales among **holiday** weeks.

In [98]:
import numpy as np
stats.t.interval(0.95, len(trains_holidays) - 1, np.mean(trains_holidays), stats.sem(trains_holidays))
#We can be 95% confident that population mean falls within the interval below.

(16726.014953601611, 17345.631421099177)

Exercise 11: Generate and interpret a 95% confidence interval for the true average weekly sales among **non-holiday** weeks.

In [99]:
stats.t.interval(0.95, len(trains_not) - 1, np.mean(trains_not), stats.sem(trains_not))
#We can be 95% confident that the population mean falls within the interval below.

(15831.531725246037, 15971.358412770696)

Exercise 12: Compare your results from exercises 9, 10, and 11. What do you notice about these results? (Hint: Recall that a hypothesis test is "an inversion" of the confidence interval.)

In [ ]:
#Not surprisingly, given a very low p-value on the two-sample t-test, the two confidence intervals 
#do not overlap. This makes sense given that there is less than a 1% probability of a type 1
#error from the two-sample t-test.