<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Practice Using APIs

_Authors: Dave Yerrington (SF), Sam Stack (DC)_

---

In this lab, we'll practice using some popular APIs to retrieve and store data.

In [1]:
# Imports at the top.
import json
import urllib
import pandas as pd
import numpy as np
import requests
import json
import re
import matplotlib.pyplot as plt
%matplotlib inline

## Exercise 1: Have Fun in All 50 States

---

Go back to the Data USA site: [https://datausa.io/](https://datausa.io/)

Find the "Data" page, then click over to the GitHub page for the full API documentation.

### 1.A Get Population Data by State

Run a "query" from Python by passing an appropriately formatted URL.  Your query should receive a "response" containing population data for all of the states.  Sort this data so that you can determine which state is the most and least populated.

Note that the state name may not be immediately evident.  It will likely be encoded with it's census ID, which you may need to track down elsewhere on the interwebs.

In [59]:
query = 'https://apt.datausa.io/attrs/geo/{}'

def geo_lookup(geo):
    state_info = requests.get(query.format(geo)).json()
    state = state_info['data'][0][0]
    return state
    
geo_lookup('04000US25')

'massachusetts'

In [62]:
url = "http://api.datausa.io/api/?show=geo&sumlevel=state&required=pop&year=latest"
response = requests.get(url).json()
df = pd.DataFrame(response['data'], columns=response['headers']).sort_values('pop')
df['geo'] = df['geo'].apply(geo_lookup)
print(df.tail(1), df.head(1))

   year         geo       pop
4  2015  california  38421464     year      geo     pop
51  2015  wyoming  579679

### 1.B Get data on your favorite state

The Data USA already has some great EDA stats and visuals that you can view by state.

Pick your favorite state and do some basic EDA on a feature/attribute of your choosing.  You will probably need to inspect the GitHub docs to figure out how to pull out the data you are looking for.

In [56]:
url = "http://api.datausa.io/api/"
params = {'show':'geo',
         'sumlevel': 'all',
         'year': 'latest',
         'geo' : '04000US25' }
response = requests.get(url, params=params).json()
pd.DataFrame(response['data'], columns=response['headers'])

,num_records,avg_age,avg_wage,num_ppl,avg_age_moe,avg_wage_moe,num_ppl_moe,avg_age_ft,avg_age_pt,avg_wage_ft,...,avg_hrs_ft,avg_hrs_pt,avg_hrs_moe,avg_hrs_ft_moe,avg_hrs_pt_moe,gini,gini_ft,gini_pt,year,geo
0,33041,41.8878,58715.5,3342095,0.111717,639.855,22150.0,42.9792,38.5251,71519.4,...,43.9143,21.3047,0.14254,0.110277,0.192216,0.492001,0.420307,0.564124,2015,04000US25

### 1.C Get creative (Bonus) 

As you were scrolling the docs or the Data USA website, did something jump out at you or catch your attention?  Go back and explore it now.  Get creative with your questions or with your Python skills.  Be curious!!

In [ ]:
# A:

## Exercise 2: IMDb TV Shows

---

Sometimes an API doesn't provide all of the information we'd like and we need to get creative.

Here we'll use a combination of scraping and API calls to find the ratings and networks of famous television shows.

### 3.A Get the Top TV Shows

IMDb contains data about movies and TV shows. Unfortunately, it doesn't have a public API.

The page http://www.imdb.com/chart/toptv/?ref_=nv_tp_tv250_2 contains the list of the top 250 television shows of all time. Retrieve the page using the `requests` library and then parse the HTML to obtain a list of the `television_ids` for these shows. You can parse it with regular expression or by using a library like `BeautifulSoup`.

> **Hint:** television_ids look like this: `tt2582802`.
> _Everything after "/title/" and before "/?"_

In [63]:
from bs4 import BeautifulSoup

In [67]:
url = 'http://www.imdb.com/chart/toptv/?ref_=nv_tp_tv250_2'
response = requests.get(url)
html = response.text

In [84]:
soup = BeautifulSoup(html, 'lxml')
lister = soup.find_all('tbody', {'class':'lister-list'},  'href')

In [100]:
p = lister[0].find_all('a')

In [154]:
import re
exp = r'title/.{9}'
titles = []
for t in p: 
    titles.append(re.findall(exp, str(t))[0])

In [164]:
titles_new = [x[6:] for x in titles]
final = list(set(titles))
final

['tt2395695',
 'tt1486217',
 'tt0103359',
 'tt0187664',
 'tt4295140',
 'tt0088509',
 'tt2802850',
 'tt0994314',
 'tt1641384',
 'tt0804503',
 'tt0080297',
 'tt3358020',
 'tt0302199',
 'tt0460681',
 'tt0112084',
 'tt5712554',
 'tt0362192',
 'tt0388629',
 'tt0112159',
 'tt5516154',
 'tt0118266',
 'tt0075520',
 'tt0094517',
 'tt1883092',
 'tt0047708',
 'tt0080306',
 'tt1494191',
 'tt0161952',
 'tt2384811',
 'tt0367279',
 'tt0386676',
 'tt1734135',
 'tt0098936',
 'tt2433738',
 'tt0141842',
 'tt5288312',
 'tt0807832',
 'tt0092337',
 'tt5290382',
 'tt0071075',
 'tt0318871',
 'tt1492966',
 'tt0286486',
 'tt1695360',
 'tt1518542',
 'tt0436992',
 'tt1355642',
 'tt5189670',
 'tt2303687',
 'tt5555260',
 'tt1632701',
 'tt1910272',
 'tt0083466',
 'tt3428912',
 'tt0387199',
 'tt0903747',
 'tt0773262',
 'tt1298820',
 'tt0203082',
 'tt3671754',
 'tt0098833',
 'tt4742876',
 'tt0075572',
 'tt1474684',
 'tt0475784',
 'tt0384766',
 'tt0090509',
 'tt0098769',
 'tt0434706',
 'tt2707408',
 'tt1839578',
 'tt1806234',
 'tt5675620',
 'tt0088727',
 'tt4189022',
 'tt0214341',
 'tt0081912',
 'tt0417373',
 'tt1124373',
 'tt5788792',
 'tt1230180',
 'tt1227926',
 'tt1865718',
 'tt0262150',
 'tt0237123',
 'tt0417299',
 'tt2674806',
 'tt0346314',
 'tt0103466',
 'tt0118273',
 'tt4574334',
 'tt0314979',
 'tt0129690',
 'tt4299972',
 'tt0417349',
 'tt2049116',
 'tt0387764',
 'tt0229889',
 'tt1533395',
 'tt2311418',
 'tt2261227',
 'tt0758745',
 'tt0403778',
 'tt4158110',
 'tt3647998',
 'tt0106179',
 'tt0280249',
 'tt0407362',
 'tt0092324',
 'tt0118421',
 'tt0108778',
 'tt0487831',
 'tt0185133',
 'tt0088484',
 'tt0111958',
 'tt2100976',
 'tt2092588',
 'tt0096639',
 'tt0112130',
 'tt0106028',
 'tt0094525',
 'tt0081846',
 'tt1758429',
 'tt0096548',
 'tt1733785',
 'tt0397150',
 'tt0083390',
 'tt1870479',
 'tt0944947',
 'tt2297757',
 'tt0074006',
 'tt0472027',
 'tt0319969',
 'tt1119644',
 'tt1442437',
 'tt0060028',
 'tt1439629',
 'tt0248654',
 'tt0185906',
 'tt3032476',
 'tt0459159',
 'tt0098825',
 'tt0052520',
 'tt0182629',
 'tt2401256',
 'tt0121955',
 'tt0278238',
 'tt0296310',
 'tt2243973',
 'tt0290988',
 'tt2017109',
 'tt0043208',
 'tt2244495',
 'tt0795176',
 'tt5249462',
 'tt1299368',
 'tt3920596',
 'tt0061287',
 'tt0979432',
 'tt0056751',
 'tt5753856',
 'tt0081834',
 'tt2356777',
 'tt0072500',
 'tt5626028',
 'tt5114356',
 'tt3718778',
 'tt1513168',
 'tt0094535',
 'tt5491994',
 'tt1795096',
 'tt4082744',
 'tt0348914',
 'tt0290978',
 'tt5834204',
 'tt0877057',
 'tt3530232',
 'tt1489428',
 'tt1856010',
 'tt0193676',
 'tt0086661',
 'tt0120570',
 'tt2571774',
 'tt2098220',
 'tt0306414',
 'tt0070644',
 'tt0086831',
 'tt0995832',
 'tt0163507',
 'tt0200276',
 'tt3322312',
 'tt0412142',
 'tt1475582',
 'tt1220617',
 'tt0458254',
 'tt2085059',
 'tt0213338',
 'tt4508902',
 'tt0096697',
 'tt0472954',
 'tt0264235',
 'tt2442560',
 'tt0098904',
 'tt0184135',
 'tt0402711',
 'tt1526318',
 'tt1606375',
 'tt2249364',
 'tt0053488',
 'tt0074028',
 'tt6205862',
 'tt1305826',
 'tt0063929',
 'tt4288182',
 'tt4093826',
 'tt1831164',
 'tt2701582',
 'tt0863046',
 'tt1628033',
 'tt0421357',
 'tt0092455',
 'tt0115147',
 'tt2575988',
 'tt0303461',
 'tt1266020',
 'tt0275137',
 'tt3398228',
 'tt0121220',
 'tt1442449',
 'tt2306299',
 'tt4270492',
 'tt1984119',
 'tt0096657',
 'tt0353049',
 'tt3012698',
 'tt0988824',
 'tt0103584',
 'tt0380136',
 'tt2788432',
 'tt2861424',
 'tt2937900',
 'tt0423731',
 'tt4156586',
 'tt1586680',
 'tt5425186',
 'tt0108906',
 'tt6468322',
 'tt4786824',
 'tt2560140',
 'tt0149460']

### 3.B Get Data on the Top TV Shows

Although IMBb doesn't have a public API, an open API exists at http://www.tvmaze.com/api.

Use this API to retrieve information about each of the 250 TV shows you extracted in the previous step.
1) Check the documentation of TVmaze's API to learn how to request show data by ID.
- Define a function that returns a Python object with select information for a given ID.
    - Show name.
    - Rating (avg).
    - Genre(s).
    - Network name.
    - Premiere date.
    - Status.
> Tip: The JSON object can easily be converted into a Python dictionary.

- Store the gathered information in a Pandas DataFrame.

Because the target information is in a JSON format, you'll need `json.loads(res.text)` in order to gather it.

In [181]:
res = requests.get('http://api.tvmaze.com/lookup/shows?imdb=tt0353049')

In [208]:
def list_of_movies(lis):
    url = 'http://api.tvmaze.com/lookup/shows?imdb='
    shows = []
    for show in lis:
        tv = {}
        new_url = url + show
        res = requests.get(new_url)
        if res.status_code == 200:
            try:    
                tv['name'] = json.loads(res.text).get('name')
            except:
                tv['name'] = 'NaN'
            try: 
                tv['average_rating'] = json.loads(res.text).get('rating').get('average')
            except:
                tv['average_rating'] = 'NaN'
            try:
                tv['genre'] = json.loads(res.text).get('genres')
            except: 
                tv['genre'] = 'NaN'
            try:
                tv['network'] = json.loads(res.text).get('network').get('name')
            except:
                tv['network'] = 'NaN'
            try:
                tv['premiere_date'] = json.loads(res.text).get('premiered')
            except:
                tv['premiere_date'] = 'NaN'
            try: 
                tv['status'] = json.loads(res.text).get('status')
            except:
                tv['status'] = 'NaN'
            shows.append(tv)
    return pd.DataFrame(shows)

In [209]:
df = list_of_movies(final)

In [210]:
df

,average_rating,genre,name,network,premiere_date,status
0,9.3,[],Cosmos,FOX,2014-03-09,Running
1,8.9,"[Comedy, Action, Adult]",Archer,FXX,2009-09-17,Running
2,9.3,"[Action, Adventure, Science-Fiction]",Batman: The Animated Series,FOX,1992-09-05,Ended
3,9.4,[Comedy],Spaced,Channel 4,1999-09-24,Ended
4,8.8,[Food],Chef's Table,NaN,2015-04-26,Running
5,9.0,"[Drama, Crime]",Fargo,FX,2014-04-15,Running
6,9.0,"[Drama, Action, Anime, Science-Fiction]",Code Geass,MBS,2006-10-05,Ended
7,9.1,"[Action, Adventure, Science-Fiction]",Young Justice,Cartoon Network,2010-11-26,Running
8,8.2,[Drama],Mad Men,AMC,2007-07-19,Ended
9,9.5,"[Drama, Espionage]",Tinker Tailor Soldier Spy,BBC One,1979-09-10,Ended
10,7.8,"[Action, Anime, Horror]",Kiseijuu,NTV,2014-10-09,Ended
11,8.4,"[Drama, Action, Supernatural]",Supernatural,The CW,2005-09-13,Running
12,9.3,[Comedy],Mr. Show,HBO,1995-11-03,Ended
13,8.2,"[Comedy, Adventure]",The Grand Tour,NaN,2016-11-18,Running
14,8.0,[Drama],State of Play,BBC One,2003-05-18,Ended
15,9.2,"[Action, Adventure, Anime, Fantasy]",One Piece,Fuji TV,1999-10-20,Running
16,8.4,"[Drama, Action, Adventure, Anime, Science-Fict...",Neon Genesis Evangelion,TV Tokyo,1995-10-04,Ended
17,8.1,"[Drama, Western]",Godless,NaN,2017-11-22,Ended
18,8.6,[Science-Fiction],The New Batman Adventures,The WB,1997-09-13,Ended
19,10.0,"[Drama, History]",Jesus of Nazareth,ITV,1977-03-27,Ended
20,9.0,[Comedy],Mystery Science Theater 3000,Syfy,1988-11-24,Ended
21,8.5,"[Drama, Action, War]","Unsere MÃ¼tter, unsere VÃ¤ter",ZDF,2013-03-17,Ended
22,8.3,"[Drama, Crime, Mystery]",Alfred Hitchcock Presents,CBS,1955-10-02,Ended
23,9.3,[Comedy],Yes Minister,BBC Two,1980-02-25,Ended
24,9.7,[],Oliver Stone's Untold History of the United St...,Showtime,2012-11-12,Ended
25,9.0,"[Action, Adventure, Anime, Science-Fiction]",Saint Seiya,TV Asahi,1986-10-11,Ended
26,8.5,"[Drama, Science-Fiction, Thriller]",Utopia,Channel 4,2013-01-15,Ended
27,8.7,[Comedy],Arrested Development,NaN,2003-11-02,Running
28,8.6,[Comedy],The Office,NBC,2005-03-24,Ended
29,6.6,"[Action, Adventure, Fantasy]",Trollhunters,NaN,2016-12-23,Running
...,...,...,...,...,...,...
206,8.4,"[Action, Adventure, Anime]",Fullmetal Alchemist,Animax,2003-10-04,Ended
207,8.8,"[Adventure, Science-Fiction]",Star Trek: The Next Generation,Syndication,1987-09-28,Ended
208,8.5,[Comedy],The Daily Show with Jon Stewart,Comedy Central,1999-01-11,Ended
209,8.6,[Comedy],Silicon Valley,HBO,2014-04-06,Running
210,9.3,"[Adventure, Science-Fiction, Western]",Firefly,FOX,2002-09-20,Ended
211,8.8,[Comedy],Parks and Recreation,NBC,2009-04-09,Ended
212,8.8,"[Action, Adventure, Science-Fiction]",Justice League Unlimited,Cartoon Network,2004-07-31,Ended
213,8.3,"[Drama, Comedy]",BoJack Horseman,NaN,2014-08-22,Running
214,8.7,"[Action, Adventure]",Spartacus,Starz,2010-01-22,Ended
215,8.9,"[Drama, Action, History]",Vikings,History,2013-03-03,Running
216,8.2,"[Drama, Crime]",Billions,Showtime,2016-01-17,Running
217,7.5,[Drama],Feud,FX,2017-03-05,Running
218,9.3,[Comedy],Mr. Bean,ITV,1990-01-01,Ended
219,9.8,[Comedy],Chappelle's Show,Comedy Central,2003-01-22,Ended
220,8.5,[Drama],Olive Kitteridge,HBO,2014-11-02,Ended
221,8.9,"[Comedy, Action, Adventure, Anime, Fantasy]",Naruto: Shippuuden,TV Tokyo,2007-02-15,Ended
222,7.4,"[Children, Science-Fiction]",X-Men,FOX,1992-10-31,Ended
223,8.8,[Comedy],QI,BBC Two,2003-09-11,Running
224,7.8,"[Drama, Crime]",American Crime Story,FX,2016-02-02,Running
225,9.4,"[Comedy, Adventure, Science-Fiction]",Rick and Morty,Adult Swim,2013-12-02,Running
226,8.7,"[Drama, Medical]",The Knick,Cinemax,2014-08-08,Ended
227,8.0,"[Comedy, Action, Adventure, Anime, History]",Samurai Champloo,Fuji TV,2004-05-20,Ended
228,9.0,"[Drama, Comedy, Romance]",Permanent Roommates,NaN,2014-10-29,Running
229,8.8,"[Drama, Comedy]",Shameless,Showtime,2011-01-09,Running
230,8.1,"[Drama, Comedy]",Horace and Pete,NaN,2016-01-30,Ended
231,7.5,"[Drama, Comedy, Horror]",Riget,DR1,1994-11-24,Ended
232,8.6,"[Crime, Thriller]",La Casa de Papel,Antena 3,2017-05-02,Ended
233,8.1,"[Drama, History]",The Crown,NaN,2016-11-04,Running
234,8.9,"[Action, Adventure, Anime, Fantasy, Science-Fi...",Attack on Titan,MBS,2013-04-07,Running
235,9.1,"[Comedy, Adventure, Science-Fiction]",Futurama,Comedy Central,1999-03-28,Ended