<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Practice Using Time Series Data and Datetime

_Authors: Samuel Stack (DC)_

---

This lab covers the basics of manipulating datetime objects and using datetimes in Pandas.

### 1) Create a datetime object representing today's date.

In [1]:
from datetime import datetime
from datetime import timedelta

In [12]:
# A:
day = datetime.now()

TypeError: descriptor 'weekday' of 'datetime.date' object needs an argument

### 2) Write a function to print the day of the week for a datetime object.

In [14]:
def printer(date_time):
    return date_time.weekday()

### 3) What is the Gregorian ordinal representation of today's date? What is the difference in days between the ordinal representation of today's date and the ordinal representation of your birthday?

> *Hint: Use `.toordinal()` to get the ordinal representation. This calculates the number of days between your birthday and today's date.

In [24]:
# A:
bday = datetime(1986, 3, 6).toordinal()
now = datetime.now().toordinal()
now - bday

11710

### 4) Try using `timedelta()` to shift our datetime object by the following intervals.
- One hour ahead.
- Three days ago.
- One year, three days, two seconds ahead.

In [31]:
# A:
print(datetime.now() - timedelta(hours=1))
print(datetime.now() - timedelta(days=3))
print(datetime.now() + timedelta(days=368, seconds=2))

2018-03-28 10:57:09.227661
2018-03-25 11:57:09.228523
2019-03-31 11:57:11.228807

### 5) Load one of the stock CSVs in the `datasets` folder.

Which you choose is up to you!

In [39]:
import pandas as pd
from datetime import timedelta
%matplotlib inline

unemp = pd.read_csv('../10.02-intro_to_timeseries-lesson/datasets/seasonally-adjusted-quarterly-us.csv')

### 6) Take a high-level look at the data. Describe it. What are we looking at? 

Use a plotting function to provide a good visual.

In [40]:
unemp.columns = ['quarter', 'rate']

In [41]:
unemp = unemp.dropna().reset_index(drop=True)
unemp.rate = unemp.rate.str.replace('%', '').astype(float)

In [43]:
unemp.quarter = pd.to_datetime(unemp.quarter.values)

### 7) Examine the Date column. Make it the index of the DataFrame.

Making the index a datetime allows us to easily order the data by time. Doing this will result in six Series objects indexed by DateTime â€” a literal time series!

In [39]:
unemp.set_index('quarter', drop=True, inplace=True)

In [40]:
# A:

### 8) Add columns with useful data extracted from the DateTime index.

Create at least three columns; one for day, month, and year.

In [56]:
# A:
unemp = unemp.reset_index()
unemp['quarter']= pd.to_datetime(unemp['quarter'])
unemp['day'] = unemp.quarter.dt.day
unemp['month'] = unemp.quarter.dt.month
unemp['year'] = unemp.quarter.dt.year
unemp.set_index('quarter', drop=True, inplace=True)

### 9) Create a subset of the data containing only 2017 dates.

In [60]:
unemp.loc[unemp['year'] == 2017]

Empty DataFrame
Columns: [index, rate, day, month, year]
Index: []

### 10) [Example] Date ranges and frequencies.

Explore the following built-in methods.
- What does `asfreq` do?
> - _Converts time series to specified frequency._

- What does `resample` do?
> - _This is a convenience method for frequency conversion and the resampling of time series. Object must have a datetime-like index (DatetimeIndex, PeriodIndex, or TimedeltaIndex) or pass datetime-like values to the `on` or `level` keyword._

We can also create our own date ranges using a built-in function, `date_range()`. The `periods` and `freq` keyword arguments grant the user fine-grained control over the resulting values. To reset the time data, use the `normalize=True` directive.

In [63]:
index = pd.date_range('3/1/2016', '6/1/2016')

# Specify a start point and how many periods should come after.
pd.date_range(start='3/1/2016', periods=20)

# Specify an end point and how many periods should come before.
pd.date_range(end='6/1/2016', periods=20)

# Frequency specifies the length of the periods â€” the default, "D," being daily. We understand that BM is bimonthly.
pd.date_range('1/1/2016', '12/1/2016', freq='BM')

pd.date_range('3/7/2016 12:56:31', periods=6)
# Normalize creates normal daily times and will set the default time for each day as midnight.
pd.date_range('3/7/2012 12:56:31', periods=6, normalize=True)

DatetimeIndex(['2012-03-07', '2012-03-08', '2012-03-09', '2012-03-10',
               '2012-03-11', '2012-03-12'],
              dtype='datetime64[ns]', freq='D')

We are also given a `Period` object, which can be used to represent a time interval. The `Period` object consists of a start time and an end time and can be created by providing a start time and a given frequency.

In [30]:
# Our start period was March 2016 and our period frequency is months.
march_2016 = pd.Period('2016-03', freq='M')

print march_2016.start_time
print march_2016.end_time

2016-03-01 00:00:00
2016-03-31 23:59:59.999999999